<div class="container-fluid">
<div class="row justify-content-center">
<div class="col-xs-8 col-xs-offset-2 col-sm-6 col-sm-offset-3">

<%= form_for(@picture) do |f| %>
  <% if @picture.errors.any? %>
    <div>
      <h3 style="text-align:center; margin-bottom:20px"><%= @picture.errors.count %>件のエラーがあります。</h3>
      <ul>
        <% @picture.errors.full_messages.each do |msg| %>
          <li><%= msg %></li>
        <% end %>
      </ul>
    </div>
  <% end %>
  <%= f.label :title %><br>
  <%= f.text_field :title, class: 'form-control' %>
  <br>
  <%= f.label :content %><br>
  <%= f.file_field :content %>
  <br>
  <%= f.submit "投稿する", class: 'btn btn-primary' %>
<% end %>
  <div style="margin-top:20px;">
    <%= link_to "一覧ページに戻る", pictures_path %>
  </div>
</div>
</div>
</div>
